<!DOCTYPE html>
<html>

<head>

<title>Add Student</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<div class="form-container">

<h1>Add Student</h1>

<form method="POST">

<input
type="text"
name="name"
placeholder="Student Name"
required>

<input
type="number"
name="m1"
placeholder="Math Marks"
required>

<input
type="number"
name="m2"
placeholder="Science Marks"
required>

<input
type="number"
name="m3"
placeholder="English Marks"
required>

<button type="submit">

Add Student

</button>

</form>

<br>

<a href="/dashboard">

Back

</a>

</div>

</body>

</html>